<section class="details">
  <h1><%= @person.full_name %></h1>
  <p>Birthday:
    <% if @person.birth_date %>
      <%= @person.birth_date %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p>SSN:
    <% if @person.ssn.strip.length > 0 %>
      <%= @person.ssn %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p>Comment:
    <% if @person.comment.strip.length > 0 %>
      <%= @person.comment %>
    <% else %>
      N/A
    <% end %>
  </p>
  <br/>
  <div class="button-right">
    <%= link_to 'Edit Info', edit_person_path(@person), class:"btn btn-secondary" %>
  </div>
</section>