<br/>
<h1 class="navbar-brand">People</h1>

<div class="button-right">
  <%= link_to "New Person", new_person_path, class:"btn btn-secondary" %>
</div>

<% if notice %>
    <%= render 'shared/alerts' %>
<% end %>

<ol>
  <% prevPerson = nil %>
  <% @people.each do |person| %>
    <% if @people.length >= 10 %>
      <% if prevPerson == nil %>
        <hr> <%= person.last_name.chr.upcase %> <hr>
      <% elsif prevPerson && prevPerson.last_name.chr.upcase != person.last_name.chr.upcase %>
        <hr> <%= person.last_name.chr.upcase %> <hr>
      <% end %>
    <% end %>
    <li>
      <%= render person %>
    </li>
    <% prevPerson = person %>
  <% end %>
</ol>

