<br/>

    <% if notice %>
        <%= render 'shared/alerts' %>
    <% end %>

    <%= render 'details' %>

    <div class="accordion" id="accordion">
        <%= render 'addresses' %>

        <%= render 'emails' %>

        <%= render 'phone_numbers' %>
    </div>

<br/>

<%= link_to "Back", people_path, class:"btn btn-secondary" %>

