<%= form_with model: [@person, @phone_number] do |form| %>
  <div>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
    <% @phone_number.errors.full_messages_for(:phone_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
    <% @phone_number.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= form.submit %>

  <% if !@phone_number.new_record? %>
    <%= link_to "Delete", person_phone_number_path(@person, @phone_number), data: { method: :delete, confirm: "Are you sure?" } %>
  <% end %>
<% end %>