<div id="address-card-<%= address.id %>" class="card carousel-card">
  <div id="address-body-<%= address.id %>" class="card-body carousel-card-body">
    <div class="edit-address">
      <%= link_to "Edit", edit_person_address_path(format: :js, person_id: @person.id, id: address.id), remote: true %>
    </div>
    <div id="address-entry-<%= address.id %>" class="entry">
      <p><b class="fw-bold">Street:</b>
        <% if address && address.street.strip.length > 0 %>
          <%= address.street %>
        <% else %>
          N/A
        <% end %>
      </p>
      <p><b class="fw-bold">Town:</b>
        <% if address && address.town.strip.length > 0 %>
          <%= address.town %>
        <% else %>
          N/A
        <% end %>
      </p>
      <p><b class="fw-bold">State:</b>
        <% if address && address.state.strip.length > 0 %>
          <%= address.state %>
        <% else %>
          N/A
        <% end %>
      </p>
      <p><b class="fw-bold">Zip Code:</b>
        <% if address && address.zip_code.strip.length > 0 %>
          <%= address.zip_code %>
        <% else %>
          N/A
        <% end %>
      </p>
      <p><b class="fw-bold">Country:</b>
        <% if address && address.country.strip.length > 0 %>
          <%= address.country %>
        <% else %>
          N/A
        <% end %>
      </p>
    </div>
  </div>
</div>