<%= form_with model: [@person, @address] do |form| %>
  <div>
    <%= form.label :street %><br>
    <%= form.text_field :street %>
    <% @address.errors.full_messages_for(:street).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :town %><br>
    <%= form.text_field :town %>
    <% @address.errors.full_messages_for(:town).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :zip_code %><br>
    <%= form.text_field :zip_code %>
    <% @address.errors.full_messages_for(:zip_code).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
    <% @address.errors.full_messages_for(:state).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :country %><br>
    <%= form.select :country, Country.all.map { |country| [ country.to_s, country.id ] } %>
    <% @address.errors.full_messages_for(:country).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= form.submit %>

  <% if !@address.new_record? %>
    <%= link_to "Delete", person_address_path(@person, @address), data: { method: :delete, confirm: "Are you sure?" } %>
  <% end %>

<% end %>